
body {
    background-image:url("musica.jpg");
    background-size: cover;
}
h5 {
    text-align: center;
}
header footer{
    height: 100px;
    background-color: rgb(27, 27, 27);
}

.nombre{
    /*margin-left: 100px;*/
}
.imagen {
    /*width: 200px;
    height: 200px;*/
}

.genero {
    margin-bottom: 30px;    
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

img {
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    object-fit: cover;
}

.container{
    background-color:beige;
    padding-bottom: 50px;
    padding-top: 50px;
}

